# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Upload files
uploads/

# SQLite database
*.db
*.sqlite
*.sqlite3
