# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
__init__.py

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db


#Upload files
uploads/


#Sqlite database
*.db